<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xavier.toolkit.mapper.SysMenuMapper">
    <resultMap type="com.xavier.toolkit.entity.SysMenu" id="sysMenus">
        <result property="menucode" column="menucode"/>
        <result property="menuname" column="menuname"/>
        <result property="menulevel" column="menulevel"/>
        <result property="menuscode" column="menuscode"/>
        <result property="mngpgm" column="mngpgm"/>
        <result property="linkmenu" column="linkmenu"/>
        <result property="showsgn" column="showsgn"/>
        <result property="showmenucode" column="showmenucode"/>
        <result property="showmenuscode" column="showmenuscode"/>
        <result property="url" column="url"/>
        <result property="note" column="note"/>
        <result property="normaldate" column="normaldate"/>
        <result property="showorder" column="showorder"/>
        <result property="fre1" column="fre1"/>
        <result property="fre2" column="fre2"/>
        <result property="fre3" column="fre3"/>
    </resultMap>
    <select id="getAllSysMenus" resultMap="sysMenus">
        SELECT menucode,
                    menuname,
                    menulevel,
                    menuscode,
                    mngpgm,
                    linkmenu,
                    showsgn,
                    showmenucode,
                    showmenuscode,
                    url,
                    note,
                    normaldate,
                    showorder,
                    fre1,
                    fre2,
                    fre3,
                    fre4
        FROM sys_menu
    </select>
</mapper>